## Boston Crime - Analyze Boston

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df23 = pd.read_csv(r'D:/UMassD Files/MTH 522/Project 3/tmpfqngu121.csv')
df22 = pd.read_csv(r'D:/UMassD Files/MTH 522/Project 3/tmpdfeo3qy2.csv')
df21 = pd.read_csv(r'D:/UMassD Files/MTH 522/Project 3/tmpfap3hfze.csv')
df20 = pd.read_csv(r'D:/UMassD Files/MTH 522/Project 3/tmpkd_w64k_.csv')
df19 = pd.read_csv(r'D:/UMassD Files/MTH 522/Project 3/tmp6w6ts2d7.csv')
df18 = pd.read_csv(r'D:/UMassD Files/MTH 522/Project 3/tmpf_uzkqpk.csv')
df17 = pd.read_csv(r'D:/UMassD Files/MTH 522/Project 3/tmp3apxsafn.csv')
df16 = pd.read_csv(r'D:/UMassD Files/MTH 522/Project 3/tmp3ochjtdc.csv')
df15 = pd.read_csv(r'D:/UMassD Files/MTH 522/Project 3/tmpzr3l5bxw.csv')

C:\Users\devch\AppData\Local\Temp\ipykernel_17356\1001015110.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df23 = pd.read_csv(r'D:/UMassD Files/MTH 522/Project 3/tmpfqngu121.csv')
C:\Users\devch\AppData\Local\Temp\ipykernel_17356\1001015110.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df22 = pd.read_csv(r'D:/UMassD Files/MTH 522/Project 3/tmpdfeo3qy2.csv')
C:\Users\devch\AppData\Local\Temp\ipykernel_17356\1001015110.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df21 = pd.read_csv(r'D:/UMassD Files/MTH 522/Project 3/tmpfap3hfze.csv')
C:\Users\devch\AppData\Local\Temp\ipykernel_17356\1001015110.py:4: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df20 = pd.read_csv(r'D:/UMassD Files/MTH 522/Project 3/tmpkd_w64k_.csv')
C:\Users\devch\AppData\Local\Temp\ipykernel_17356\1001015110.py:5: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df19 = pd.read_csv(r'D:/UMassD Files/MTH 522/Project 3/tmp6w6ts2d7.csv')

In [3]:
combined_df = pd.concat([df15,df16,df17,df18,df19, df20, df21, df22,df23], ignore_index=True)
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 723617 entries, 0 to 723616
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      723617 non-null  object
 1   OFFENSE_CODE         723617 non-null  int64
 2   OFFENSE_CODE_GROUP   353253 non-null  object
 3   OFFENSE_DESCRIPTION  723617 non-null  object
 4   DISTRICT             719137 non-null  object
 5   REPORTING_AREA       723617 non-null  object
 6   SHOOTING             371819 non-null  object
 7   OCCURRED_ON_DATE     723617 non-null  object
 8   YEAR                 723617 non-null  int64
 9   MONTH                723617 non-null  int64
 10  DAY_OF_WEEK          723617 non-null  object
 11  HOUR                 723617 non-null  int64
 12  UCR_PART             353156 non-null  object
 13  STREET               711729 non-null  object
 14  Lat                  682816 non-null  float64
 15  Long                 682816 non-null  float64
 16  Location             682816 non-null  object
dtypes: float64(2), int64(4), object(11)
memory usage: 93.9+ MB

In [4]:
combined_df.drop(['OFFENSE_CODE_GROUP','UCR_PART'], axis=1, inplace=True)
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 723617 entries, 0 to 723616
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      723617 non-null  object
 1   OFFENSE_CODE         723617 non-null  int64
 2   OFFENSE_DESCRIPTION  723617 non-null  object
 3   DISTRICT             719137 non-null  object
 4   REPORTING_AREA       723617 non-null  object
 5   SHOOTING             371819 non-null  object
 6   OCCURRED_ON_DATE     723617 non-null  object
 7   YEAR                 723617 non-null  int64
 8   MONTH                723617 non-null  int64
 9   DAY_OF_WEEK          723617 non-null  object
 10  HOUR                 723617 non-null  int64
 11  STREET               711729 non-null  object
 12  Lat                  682816 non-null  float64
 13  Long                 682816 non-null  float64
 14  Location             682816 non-null  object
dtypes: float64(2), int64(4), object(9)
memory usage: 82.8+ MB

In [5]:
combined_df.loc[combined_df['SHOOTING'].isnull()]['OFFENSE_DESCRIPTION'].value_counts()

OFFENSE_DESCRIPTION
SICK/INJURED/MEDICAL - PERSON            20965
INVESTIGATE PERSON                       20413
M/V - LEAVING SCENE - PROPERTY DAMAGE    17957
VANDALISM                                16555
ASSAULT SIMPLE - BATTERY                 16342
                                         ...
FRAUD - FALSE PRETENSE                       1
FIREARM/WEAPON - CARRY - SELL - RENT         1
KILLING OF FELON BY POLICE                   1
B&E RESIDENCE DAY - NO FORCE                 1
ROBBERY - KNIFE - STREET                     1
Name: count, Length: 244, dtype: int64

In [6]:
df = pd.DataFrame

codes = [111, 123, 121, 244, 241, 243, 251, 261, 252, 253, 271, 254, 242,
         
         901,902,905,907,920,930,801,802, 423, 413,

         301, 301, 303, 304, 305,306, 307, 308, 309, 310, 311,312,313,314,315,316,317,318,319,320,321,322,323,324,333,334,335,336,337,
          338,339,340,341,342,343,344,345,346,347,348,349,350,352,353,354,355,356,357,358,359,360,361,362,363,364,373,374,375,376,377,
          378,379,380, 351, 361, 371, 381, 541, 540, 562, 561, 542, 521, 520, 522, 560,612,613,615, 617,614,618,616,

          1874,1842,1841,1849,1848,1858,1855,1864,1863,1866,1868,1843,3023,3021,1875,3022,1847,1840,1873,1848,1850,
             
          3801, 3802,3803,3810,3807,3805,1402,1415]

df = combined_df[combined_df['OFFENSE_CODE'].isin(codes)].copy()

Tier List

**Tier 1:** Violent crimes - Murder, Manslaughter, Rape, 

Related Codes - 111, 123, 121, 244, 241, 243, 251, 261, 252, 253, 271, 254, 242, 

**Tier 2 :** Arson (900-930), Aggravated Assault/ Battery (401-433)

Related codes - 900-930; 401-433 ; 802, 423, 413, 801

**Tier 3:** Non violent crimes - Larceny, Robbery (301-380), burglary, B&E - (510 - 547)

Related codes - 612,613,615, 617,614,618,616; 301, 311, 351, 361, 371, 381; 541, 540, 562, 561, 542, 521, 520, 522, 560; 

**Tier Drugs:** 1874,1842,1841,1849,1848,1858,1855,1864,1863,1866,1868,1843,3023,3021,1875,3022,1847,1840,1873,1848,1850

**Tier 4:** Vandalism (1402, 1415), Vehicular Accidents -  3801, 3802,3803,3810,3807,3805

In [7]:
tier1 = [111, 123, 121, 244, 241, 243, 251, 261, 252, 253, 271, 254, 242]
tier2 = [901,902,905,907,920,930,801,802, 423, 413]
tier3 =[301, 301, 303, 304, 305,306, 307, 308, 309, 310, 311,312,313,314,315,316,317,318,319,320,
        321,322, 323,324,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,
        352,353,354,355,356,357,358,359,360,361,362,363,364,373,374,375,376,377,378,379,380, 351,
        361,371,381,541, 540, 562, 561, 542, 521, 520, 522, 560,612,613,615, 617,614,618,616]
tierd = [1874,1842,1841,1849,1848,1858,1855,1864,1863,1866,1868,1843,3023,3021,1875,3022,1847,
         1840,1873,1848,1850]
tier4 = [3801, 3802,3803,3810,3807,3805,1402,1415]

conditions = [df['OFFENSE_CODE'].isin(tier1),
              df['OFFENSE_CODE'].isin(tier2),
              df['OFFENSE_CODE'].isin(tier3),
              df['OFFENSE_CODE'].isin(tierd),
              df['OFFENSE_CODE'].isin(tier4)]
vals = ['Tier 1', 'Tier 2', 'Tier 3', 'Tier Drugs', 'Tier 4']

df['Tier'] = np.select(conditions, vals, default = 'Other')

<class 'pandas.core.frame.DataFrame'>
Index: 232624 entries, 9 to 723614
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      232624 non-null  object
 1   OFFENSE_CODE         232624 non-null  int64
 2   OFFENSE_DESCRIPTION  232624 non-null  object
 3   DISTRICT             231114 non-null  object
 4   REPORTING_AREA       232624 non-null  object
 5   SHOOTING             113672 non-null  object
 6   OCCURRED_ON_DATE     232624 non-null  object
 7   YEAR                 232624 non-null  int64
 8   MONTH                232624 non-null  int64
 9   DAY_OF_WEEK          232624 non-null  object
 10  HOUR                 232624 non-null  int64
 11  STREET               227799 non-null  object
 12  Lat                  218209 non-null  float64
 13  Long                 218209 non-null  float64
 14  Location             218209 non-null  object
 15  Tier                 232624 non-null  object
dtypes: float64(2), int64(4), object(10)
memory usage: 30.2+ MB

In [8]:
df.loc[df['SHOOTING'].isnull()]['Tier'].value_counts()

Tier
Tier 3        46524
Tier 4        35731
Tier 2        25492
Tier Drugs    11153
Tier 1           52
Name: count, dtype: int64

In [9]:
subset = df.loc[(df['Tier']=='Tier 3') | (df['Tier']=='Tier Drugs') | (df['Tier']=='Tier 4')]
subset['SHOOTING'].fillna(0,inplace=True)
df.update(subset)

C:\Users\devch\AppData\Local\Temp\ipykernel_17356\3940179601.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['SHOOTING'].fillna(0,inplace=True)

In [10]:
df['SHOOTING'].fillna(0,inplace=True)

In [11]:
df2 = pd.DataFrame(data = df)

In [12]:
df2.to_csv('NewData.csv', index=False)

In [13]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 216538 entries, 9 to 723614
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      216538 non-null  object
 1   OFFENSE_CODE         216538 non-null  int64
 2   OFFENSE_DESCRIPTION  216538 non-null  object
 3   DISTRICT             216538 non-null  object
 4   REPORTING_AREA       216538 non-null  object
 5   SHOOTING             216538 non-null  object
 6   OCCURRED_ON_DATE     216538 non-null  object
 7   YEAR                 216538 non-null  int64
 8   MONTH                216538 non-null  int64
 9   DAY_OF_WEEK          216538 non-null  object
 10  HOUR                 216538 non-null  int64
 11  STREET               216538 non-null  object
 12  Lat                  216538 non-null  float64
 13  Long                 216538 non-null  float64
 14  Location             216538 non-null  object
 15  Tier                 216538 non-null  object
dtypes: float64(2), int64(4), object(10)
memory usage: 28.1+ MB

### Tier List

**Tier 1:** Violent crimes - Murder, Manslaughter, Rape, 

Related Codes - 111, 123, 121, 244, 241, 243, 251, 261, 252, 253, 271, 254, 242, 

**Tier 2 :** Arson (900-930), Aggravated Assault/ Battery (401-433)

Related codes - 900-930; 401-433 ; 802, 423, 413, 801

**Tier 3:** Non violent crimes - Larceny, Robbery (301-380), burglary, B&E - (510 - 547)

Related codes - 612,613,615, 617,614,618,616; 301, 311, 351, 361, 371, 381; 541, 540, 562, 561, 542, 521, 520, 522, 560; 

**Tier Drugs:** 1874,1842,1841,1849,1848,1858,1855,1864,1863,1866,1868,1843,3023,3021,1875,3022,1847,1840,1873,1848,1850

**Tier 4:** Vandalism (1402, 1415), Vehicular Accidents -  3801, 3802,3803,3810,3807,3805

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 216538 entries, 9 to 723614
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      216538 non-null  object
 1   OFFENSE_CODE         216538 non-null  int64
 2   OFFENSE_DESCRIPTION  216538 non-null  object
 3   DISTRICT             216538 non-null  object
 4   REPORTING_AREA       216538 non-null  object
 5   SHOOTING             216538 non-null  object
 6   OCCURRED_ON_DATE     216538 non-null  object
 7   YEAR                 216538 non-null  int64
 8   MONTH                216538 non-null  int64
 9   DAY_OF_WEEK          216538 non-null  object
 10  HOUR                 216538 non-null  int64
 11  STREET               216538 non-null  object
 12  Lat                  216538 non-null  float64
 13  Long                 216538 non-null  float64
 14  Location             216538 non-null  object
 15  Tier                 216538 non-null  object
dtypes: float64(2), int64(4), object(10)
memory usage: 28.1+ MB

In [15]:
df.columns

Index(['INCIDENT_NUMBER', 'OFFENSE_CODE', 'OFFENSE_DESCRIPTION', 'DISTRICT',
       'REPORTING_AREA', 'SHOOTING', 'OCCURRED_ON_DATE', 'YEAR', 'MONTH',
       'DAY_OF_WEEK', 'HOUR', 'STREET', 'Lat', 'Long', 'Location', 'Tier'],
      dtype='object')

In [16]:
df['REPORTING_AREA'] = pd.to_numeric(df['REPORTING_AREA'], errors = 'coerce')

In [17]:
df.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,STREET,Lat,Long,Location,Tier
9,I152049588,614,LARCENY THEFT FROM MV - NON-ACCESSORY,D4,155.0,0,2015-06-15 00:01:00,2015,6,Monday,0,CONCORD SQ,42.341384,-71.078989,"(42.34138415, -71.07898883)",Tier 3
10,I152049593,1874,DRUGS - OTHER,C11,289.0,0,2015-06-15 00:01:00,2015,6,Monday,0,HANCOCK ST,42.310434,-71.061340,"(42.31043400, -71.06134010)",Tier Drugs
11,I152049594,1874,DRUGS - OTHER,C11,289.0,0,2015-06-15 00:01:00,2015,6,Monday,0,HANCOCK ST,42.310434,-71.061340,"(42.31043400, -71.06134010)",Tier Drugs
12,I152049463,1402,VANDALISM,E18,493.0,0,2015-06-15 00:03:00,2015,6,Monday,0,LEXINGTON AVE,42.262551,-71.115822,"(42.26255067, -71.11582205)",Tier 4
13,I152049469,802,ASSAULT SIMPLE - BATTERY,D14,809.0,0,2015-06-15 00:45:00,2015,6,Monday,0,BAGNAL ST,42.359569,-71.135982,"(42.35956890, -71.13598188)",Tier 2

In [21]:
df['OCCURRED_ON_DATE'] = pd.to_datetime(df['OCCURRED_ON_DATE'],format = 'ISO8601')

C:\Users\devch\AppData\Local\Temp\ipykernel_17356\3212493464.py:1: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise a warning unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df['OCCURRED_ON_DATE'] = pd.to_datetime(df['OCCURRED_ON_DATE'],format = 'ISO8601')

In [26]:
df['YEAR'].value_counts()

YEAR
2016    30787
2017    30241
2018    29870
2019    27060
2020    21451
2021    20346
2022    20310
2015    18830
2023    17643
Name: count, dtype: int64

In [22]:
df.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,STREET,Lat,Long,Location,Tier
9,I152049588,614,LARCENY THEFT FROM MV - NON-ACCESSORY,D4,155.0,0,2015-06-15 00:01:00,2015,6,Monday,0,CONCORD SQ,42.341384,-71.078989,"(42.34138415, -71.07898883)",Tier 3
10,I152049593,1874,DRUGS - OTHER,C11,289.0,0,2015-06-15 00:01:00,2015,6,Monday,0,HANCOCK ST,42.310434,-71.061340,"(42.31043400, -71.06134010)",Tier Drugs
11,I152049594,1874,DRUGS - OTHER,C11,289.0,0,2015-06-15 00:01:00,2015,6,Monday,0,HANCOCK ST,42.310434,-71.061340,"(42.31043400, -71.06134010)",Tier Drugs
12,I152049463,1402,VANDALISM,E18,493.0,0,2015-06-15 00:03:00,2015,6,Monday,0,LEXINGTON AVE,42.262551,-71.115822,"(42.26255067, -71.11582205)",Tier 4
13,I152049469,802,ASSAULT SIMPLE - BATTERY,D14,809.0,0,2015-06-15 00:45:00,2015,6,Monday,0,BAGNAL ST,42.359569,-71.135982,"(42.35956890, -71.13598188)",Tier 2

In [25]:
df.to_csv('Processed_data.csv', index=False)

In [23]:
df['STREET'].value_counts()

STREET
WASHINGTON ST                                           13644
BOYLSTON ST                                              6576
BLUE HILL AVE                                            5901
HARRISON AVE                                             4505
DORCHESTER AVE                                           3858
                                                        ...
BRADLEE LN                                                  1
HARRISON AVE & WARREN PL\nROXBURY  MA 02119\nUNITED         1
95 WOODBOLE AVE\nMATTAPAN  MA 02126\nUNITED STATES          1
SOUTHAMPTON ST & DORCHESTER ST\nBOSTON  MA 02127\nUN        1
CENTRAL ST & INDIA ST\nBOSTON  MA 02109\nUNITED STAT        1
Name: count, Length: 9905, dtype: int64

In [24]:
df['DAY_OF_WEEK'].value_counts()

DAY_OF_WEEK
Friday       32568
Saturday     31771
Wednesday    31057
Thursday     30610
Tuesday      30484
Monday       30412
Sunday       29636
Name: count, dtype: int64

In [27]:
df['OFFENSE_DESCRIPTION'].value_counts()

OFFENSE_DESCRIPTION
VANDALISM                                          30806
LARCENY SHOPLIFTING                                19577
ASSAULT SIMPLE - BATTERY                           19036
LARCENY THEFT FROM MV - NON-ACCESSORY              19004
LARCENY THEFT FROM BUILDING                        18511
                                                   ...
DRUGS - POSS CLASS D - MARIJUANA, ETC.                 2
MANSLAUGHTER - NON-VEHICLE - NEGLIGENCE                1
ROBBERY - KNIFE - STREET                               1
B&E RESIDENCE DAY - NO FORCE                           1
ASSAULT & BATTERY D/W - OTHER ON POLICE OFFICER        1
Name: count, Length: 69, dtype: int64